<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4">
    <!-- Links zu sozialen Netzwerken -->
    <div class="me-5 d-none d-lg-flex">
      <h3>Finde uns auf diesen sozialen Netzwerken: </h3>
      <div style="margin-left: 1rem">
        <a href="https://www.hs-fulda.de/angewandte-informatik/ueber-uns/mitarbeitende/kontakt-details/person/manuel-richardt-2-421/contactBox">
          <img src="/images/github.svg" class="icon" />
        </a>
      </div>
    </div>
    <!-- Ende der sozialen Netzwerke Links -->
  </section>
  <!-- Ende der Sektion: Social media -->

  <!-- Section: Informationen und Links -->
  <section class="footerWhole">
    <div class="container text-center text-md-start mt-2">
      <!-- Grid-Reihe -->
      <div class="d-flex flex-wrap gap-4 justify-content-center">
        <!-- Spalte: Über RetroReel Verleih -->
        <div class="card">
          <!-- Inhalt über das Unternehmen -->
          <h6 class="text-uppercase fw-bold mb-4">
            RetroReel Verleih
          </h6>
          <p>
            Willkommen bei RetroVHS Verleih!<br>
            Erlebe die Magie vergangener Zeiten mit unseren kultigen VHS-Kassetten.
          </p>
          <p>
            Bei uns findest du Klassiker, die du schon immer sehen wolltest, und wir helfen dir, sie neu zu entdecken. 
          </p>
          <p>
            Tauche ein in die Welt der Retro-Filme!
          </p>
        </div>
        <!-- Ende der Spalte -->

        <!-- Spalte: Impressum -->
        <div class="card">
          <!-- Impressum -->
          <h6 class="text-uppercase fw-bold mb-4">
            <a>Impressum</a>
          </h6>
          <p>
            Manu Richel<br>
            RetroReel Verleih<br>
            Königsstraße 72<br>
            10319 Berlin<br>
          </p>
        </div>
        <!-- Ende der Spalte -->

        <!-- Spalte: Kontakt -->
        <div class="card">
          <!-- Kontaktinformationen -->
          <h6 class="text-uppercase fw-bold mb-4" id="contact">Kontakt</h6>
          <p>
            Telefon: +49 (0) 123 44 55 66<br>
            Telefax: +49 (0) 123 44 55 99<br>
            E-Mail: vhs@retroreel.de 
          </p>
        </div>
        <!-- Ende der Spalte -->
      </div>
      <!-- Ende der Grid-Reihe -->
    </div>
  </section>
  <!-- Ende der Sektion: Informationen und Links -->

  <!-- Copyright-Hinweis -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Ende des Copyright-Hinweises -->

  <!-- Bootstrap JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>
</footer>
<!-- Ende des Footers -->
