<header class="navbar navbar-expand-lg container-fluid" style="background-image: url(./images/R.jpg); width: 100%; height: auto;">
  <!-- Logo-Bereich, der zur Startseite verlinkt -->
  <a class="navbar-brand" href="/">
    <img id="headLogo" src="/images/logo.png" alt="Logo">
  </a>
  <div class="searchMenu">
    <!-- Navigationsmen체 f체r die Hauptseiten -->
    <nav class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/equipment">Artikel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/borrows">Ausleihvorg채nge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">User</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Toggle-Button f체r die mobile Ansicht -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
