<!DOCTYPE html>
<html lang="de">
  <%- include('part/head') %>
  <body>
    <!-- Header und Navigation -->
    <%- include('part/nav') %>

    <!-- Hauptinhalt der Seite -->
    <div class="container mt-4">
      <h1>Willkommen auf unserer Webseite!</h1>
      <p>Dies ist die Startseite. Hier finden Sie die neuesten Informationen und Updates, wenn wir welche posten würden.</p>
      
      <!-- Bild hinzufügen -->
      <div class="home-image-container">
        <img src="/images/vhsstore.jpg" alt="Innenansicht VHS-Store" class="home-image">
      </div>

    </div>

    <!-- Footer -->
    <%- include('part/footer') %>
  </body>
</html>
